* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 750;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  background-color: black;
  padding: 40px 0;
  border-radius: 30px;
  height: 606px;
  display: flex;
  flex-direction: column;
  width: 360px;
}

#history {
  height: 10vh;
}

#result {
  background-color: #ebe8e8dc;
  border-radius: 15px;
  height: 12vh;
  margin: 3%;
  text-align: end;
}

#number {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#numrow,
#numrow1,
#numrow2,
#numrow3,
#oprow {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2px 0;
}

#operations {
  height: 60vh;
  width: 25%;
}

#numandop {
  display: flex;
  height: 60vh;
}

#clear,
#plusminus,
#modulus {
  background-color: #d4d4d2;
  color: #fff;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add,
#subtract,
#divide,
#multiply,
#buttoneq {
  background-color: #ff9500;
  color: #fff;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#button,
button,
#backspace,
#decimal {
  background-color: #505050;
  color: #fff;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:active {
  transform: scale(1.1);
}
